<% content_for :top_content do %>
  <div class="jumbotron">
    <div class="container">
      <h1>Welcome!</h1>
      <p>Sign in or register to get started.</p>
      <p>
        <%= link_to 'Register', new_user_registration_path, class: 'btn btn-primary' %>
        <%= link_to 'Sign in', new_user_session_path, class: 'btn' %>
      </p>
    </div>
  </div>
<% end %>